.app-header {
	background: var(--purple-color);
	color: #fff;
	padding: 0.5rem 0;

	h1 {
		margin: 0;
		font-size: 1.4rem;
	}

	a {
		text-decoration: none;

		&:link, &:visited {
			color: #fff;
		}

		&:hover, &:active {
			color: var(--yellow-color);
		}
	}
}